@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}
body {
  letter-spacing: -0.5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html,
  input,
  span,
  p,
  button {
    font-family: "Pretendard";
  }
}
